<!-- ng-cloak -->
<div id="dashboard" class="container">
  <h1 class="mt-8 dashboard-titles">Dashboard</h1>
  <!-- if groups.length == 0 && loaded -->
  
  <h2 [hidden]="cSize != 0">Welcome {{ user.username }}! Register for a course on the <a href="./courses">courses</a> page.</h2>

  <div class="panel panel-default border border-light rounded">
    <div class="panel-heading dashboard-titles">
      <h2 class="mt-3" style="padding: .5em">My Courses</h2>
    </div>

    <h4 [hidden]="cSize != 0" class="mt-5">You have not joined any courses. Join a course through the <a href="./courses">courses</a> page.</h4>

    <div  class="row justify-content-left">

      <div *ngFor="let course of courses" class="card border-dark m-3 pl-0 pr-0" style="max-width: 18rem;">
        <div class="card-header">{{course.description}}</div>
        <div (click)="setCourseAndMove(course)" class="card-body pointer hover">
          <h5 class="card-title">{{course.courseName}}</h5>
          <p class="card-text"></p>
        </div>
      </div>

    </div>
  </div>

  <div class="panel panel-default border border-light rounded">
    <div class="panel-heading dashboard-titles">
      <h2 class="mt-3" style="padding: .5em">My Groups</h2>
    </div>

    <h4 [hidden]="gSize != 0" class="mt-5">You are not a member of any groups.</h4>

    <div  class="row justify-content-left">

      <div *ngFor="let group of groups" class="card border-dark m-3 pl-0 pr-0" style="max-width: 18rem;">
        <div class="card-header">{{group.projectName}}</div>
        <div (click)="setGroupAndMove(group)" class="card-body pointer hover">
          <h5 class="card-title">{{group.groupName}}</h5>
          <p class="card-text"></p>
        </div>
      </div>

    </div>
  </div>

  <!-- if groups.length !== 0 && loaded -->
  <div class="panel panel-default border border-light rounded">
    <div class="panel-heading dashboard-titles">
      <h2 class="mt-3" style="padding: .5em">My Projects</h2>
    </div>
    <h4 [hidden]="pSize != 0" class="mt-5">You do not have any projects.</h4>

    <div  class="row justify-content-left">

      <div *ngFor="let project of projects" class="card border-dark m-3 pl-0 pr-0" style="max-width: 18rem;">
        <div class="card-header">{{project.courseName}}</div>
        <div (click)="setProjectAndMove(project)" class="card-body pointer hover">
          <h5 class="card-title">{{project.projectName}}</h5>
          <p class="card-text"></p>
        </div>
      </div>

    </div>
  </div>

</div>
