
<div id="modal-container">

    <header>
      <div id="header-container">
        <div id="username">
            <h1 style="font-size: 32pt;">{{user.username}}</h1>
        </div>

        <div id="closeBtnTop">
             <i id="close" (click)="modalService.closeModal()">X</i>
        </div>

      </div>

    </header>

  <main>
    <div id="main-container">

      <div id="content-left">

        <div id="user-data-table-container" class="user-info-table-container">
          <table class="table  table-borderless user-info-table" id="user-data-table">
            <thead>
            <tr>
              <th>Info</th>
              <th>Edit</th>
            </tr>
            </thead>
            <tbody>

            <tr>
              <td >{{user.firstName}}</td>
              <td *ngIf="enableEditing == false">First Name</td>
              <td *ngIf="enableEditing == true"> <input type="text" id="edit_firstname" [hidden]="isHidden" placeholder="First name"></td>
            </tr>

            <tr>

              <td>{{user.lastName}}</td>
              <td *ngIf="enableEditing == false">Last Name</td>
              <td *ngIf="enableEditing == true"> <input type="text" id="edit_lastname" [hidden]="isHidden" placeholder="Last name"></td>
            </tr>

            <tr>
              <td >{{user.username}}</td>
              <td *ngIf="enableEditing == false">Username</td>
              <td *ngIf="enableEditing == true"> <input type="text" id="edit_username" [hidden]="isHidden" placeholder="Username"></td>
            </tr>

            <tr>
              <td>Email</td>
              <td *ngIf="enableEditing == false">Email</td>
              <td *ngIf="enableEditing == true"> <input type="text" id="edit_email" [hidden]="isHidden" placeholder="Email"></td>
            </tr>

            <tr>
              <td >Phone</td>
              <td *ngIf="enableEditing == false">Phonee</td>
              <td *ngIf="enableEditing == true"> <input type="text" id="edit_phone" [hidden]="isHidden" placeholder="Phone number"></td>
            </tr>

            <tr>
              <td *ngIf="user.type == 'Basic'" ><label for="accountType">Student</label></td>
              <td *ngIf="user.type != 'Basic'" ><label for="accountType">{{user.type}}</label></td>

              <td *ngIf="enableEditing == false">Account Type</td>

              <td *ngIf="enableEditing == true">
                <select name="accountType" id="accountType" [hidden]="isHidden">
                  <option Value="Student">Student</option>
                  <option Value="Instructor">Instructor</option>
                  <option Value="Admin">Admin</option>
                </select>
              </td>
            </tr>

            <tr *ngIf="enableEditing == true">
              <td *ngIf="user.isActive"><label for="activeChoice">Active</label></td>
              <td *ngIf="!user.isActive"><label for="activeChoice">Not Active</label></td>
              <td>
                <select name="activeChoice" id="activeChoice" [hidden]="isHidden">
                  <option Value="true">Active</option>
                  <option Value="false">Not Active</option>
                </select>

              </td>
            </tr>


            </tbody>
          </table>
        </div>


<!--        Table for stats of user if the user is a student-->
        <div id="user-stats-table-container" class="user-info-table-container">
          <table class="table table-hover table-borderless user-info-table" id="user-stats-table">
            <tbody>
            <!--  ng-repeat="c in courses | filter: search" ng-if="c.isActive || config.showInactiveCourses" ng-class="{inactive: !c.isActive}" -->
            <tr>
              <td >Number of Courses: </td>
              <td> {{courses.length}}</td>
            </tr>

            <tr>
              <td >Number of Projects:</td>
              <td> {{projects.length}}</td>
            </tr>

            <tr>
              <td >Number of Groups: </td>
              <td> {{groups.length}}</td>
            </tr>



            </tbody>
          </table>
        </div>


        <div id="save-delete-info" [hidden]="isHidden">
          <div class="row red">
            <div class="col-auto">
              <button class="btn btn-outline-info" (click)="editSave()">Save</button>
            </div>

            <div class="col-auto ml-auto">
              <button class="btn btn-outline-danger" (click)="editDelete()">Delete User</button>
            </div>

          </div>
        </div>

      </div>





      <div id="content-right">

        <div id="course-table-container" class="content-right-table-container">
          <table class="table table-hover table-borderless content-right-table" id="user-course-table">
            <thead>
            <tr>
              <th>Course</th>
              <th>Instructor</th>
            </tr>
            </thead>
            <tbody>

<!--            wrap in a for loop to display all of the courses-->
            <tr *ngFor="let course of courses">
                <td>{{course.courseName}}</td>
                <td>{{course.instructorLastName}}, {{course.instructorFirstName}}</td>
              </tr>


            </tbody>
          </table>



        </div>

        <div id="project-table-container" class="content-right-table-container">
          <table class="table table-hover table-borderless content-right-table" id="user-project-table">
            <thead>
            <tr>
              <th>Project</th>
              <th>Course</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let project of projects">
              <td>{{project.projectName}}</td>
              <td>{{project.courseName}}</td>
            </tr>


            </tbody>
          </table>



        </div>

        <div id="group-table-container" class="content-right-table-container">
          <table class="table table-hover table-borderless content-right-table" id="user-group-table">
            <thead>
            <tr>
              <th>Group</th>
              <th>Course</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let group of groups">
              <td>{{group.groupName}}</td>
              <td>{{group.courseName}}</td>
            </tr>


            </tbody>
          </table>



        </div>

      </div>


    </div>
  </main>

  <footer>
    <div id="footer-container">

      <div id="footer-left">
          <button id="editBtn" type="button" class="btn btn-dark" (click)="editBtn()">Edit</button>

        <div class="pretty p-switch p-slim mr-1">
          <!-- ng-model="config.showInactiveCourses" -->
          <input type="checkbox" (change)="enableEdit($event)"/>
          <!-- ng-if="$parent.user.type === 'A' || $parent.user.type === 'I'" -->
          <div class="float-left mr-2 mt-2 state">
            <label>Enable Editing</label>
          </div>
        </div>


      </div>

      <div id="footer-right">
        <button id="resetPassword" type="button" class="btn btn-success" (click)="modalService.setDefaultPassword(user)">Reset Password</button>
        <button id="closeBtnBottom" type="button" class="btn btn-danger" (click)="modalService.closeModal()">Close</button>
      </div>

    </div>
  </footer>


</div>



