:host {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
  z-index: 0;
}


#modal-container {

  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;

  border-radius: 10px;
  background-color: #fff;

}


#header-container{
  display: flex;
  border-bottom: 1px solid black;
  height: 100%;
}

#username {
  flex: 2;
  margin-left: 1.5%;
}

#closeBtnTop{
  flex: 1;
  text-align: end;
  margin-right: 2.5%;
  color: darkgrey;
  font-size: 32pt;
}

i {
  cursor: pointer;
}

main {
  flex-grow: 1;
}

#main-container {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  height: 100%;

}


/*Content left stuff*/
#content-left{
  position: relative;
  width: 100%;
  height: 100%;
  border-right: 1px solid black;
}


.user-info-table-container{
  padding-left: 20%;
  padding-right: 25px;
  padding-top: 25px;
  height: fit-content;
}


.user-info-table td + td, th + th {
  border-left: 1px solid lightgray;
}

.user-info-table td:nth-child(2){
  margin-right: 10%;
}

#user-data-table td, #user-stats-table td{
  width: 50%;
}


#eval-info {
  text-align: center;
  margin-top: 3em;
  font-size: 14pt;
}

#save-delete-info{
  position: absolute;
  bottom: 0;
  width: 100%;
}

#save-delete-info button {
  margin: 0px 5px 5px 5px;
}

/*=================================================*/


/*Content left stuff*/
#content-right {
  width: 100%;
  height: 100%;
}

.content-right-table-container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 15px;
  height: 33%;
  /*overflow: hidden;*/
  /*overflow-y: auto;*/
}

.content-right-table {
  table-layout: fixed;
  height: 100%;
  width: 100%;
  /*overflow: hidden;*/
  border: 1px solid black;

}

.content-right-table tbody {
  display: block;
  height: 125px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.content-right-table thead {
  display: block;
  position: sticky;
  top: 0;
}

.content-right-table th, td {
  width: 10%;
}


  /*=================================================*/

#footer-container{
  display: flex;
  flex-direction: row;
  width: 100%
}

footer {
  border-top: 1px solid black;
}

#footer-left{
  width: 50%;
}

#footer-right{
  display: flex;
  width: 50%;
  align-content: end;
  justify-content: end;

}

.btn {
  font-size: 18pt;
  margin-bottom: 1%;
  margin-top: 1%;
}

.btn-dark {
  margin-left: 8px;
  width: 100px;
}

.btn-success, .btn-danger {
  margin-right: 8px;
}

.pretty {
  padding-left: 15px;
}
