<!-- Toolbar -->
<div>
<mat-toolbar color="primary">
  <span>
    <a class="navbar-left" >
      <img height="40" alt="Time Tracker Logo" src="../assets/Images/TimeTrackerLogo.png"/>
    </a></span>
  <span><a [hidden]="isInstructor || isAdmin" class="nav-item nav-link active" routerLink="./dashboard">Dashboard</a></span>
  <a [hidden]="isInstructor == false || isAdmin" class="nav-item nav-link active" routerLink="./instructor">Instructor Dashboard</a>
  <span><a [hidden]="isAdmin == false" class="nav-item nav-link active" routerLink="./admin-dash">Admin Dashboard</a></span>
  <span><a [hidden]="isAdmin" class="nav-item nav-link active" routerLink="./courses">Courses</a></span>
  <span><a [hidden]="isInstructor || isAdmin" class="nav-item nav-link active" routerLink="./groups">Groups</a></span>
  <span class="ml-auto"><a class="nav-item nav-link active" routerLink="./user">{{ userName }}</a></span>
  <span>
      <form class="form-inline ">
        <button class="btn btn-primary" (click)="onLogin()">{{login}}</button>
      </form>
  </span>


</mat-toolbar>
  <router-outlet></router-outlet>
</div>
<!--  <div class="navbar navbar-expand-lg fixed-top">-->
<!--    <a class="navbar-left" >-->
<!--      <img height="40" alt="Time Tracker Logo" src="../assets/Images/TimeTrackerLogo.png"/>-->
<!--    </a>-->
<!--    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--      <div class="navbar-nav">-->
<!--        <a [hidden]="isInstructor" class="nav-item nav-link active" routerLink="./dashboard">Dashboard</a>-->
<!--        <a [hidden]="isInstructor == false" class="nav-item nav-link active" routerLink="./instructor">Instructor Dashboard</a>-->
<!--&lt;!&ndash;        <a class="nav-item nav-link active" routerLink="./course">Course</a>&ndash;&gt;-->
<!--        <a class="nav-item nav-link active" routerLink="./courses">Courses</a>-->
<!--&lt;!&ndash;        <a class="nav-item nav-link active" routerLink="./admin-evals">Admin Evals</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-item nav-link active" routerLink="./assign-evals">Assign Evals</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-item nav-link active" routerLink="./eval">Eval</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-item nav-link active" routerLink="./group">Group</a>&ndash;&gt;-->
<!--        <a [hidden]="isInstructor" class="nav-item nav-link active" routerLink="./groups">Groups</a>-->
<!--&lt;!&ndash;        <a class="nav-item nav-link active" routerLink="./project">Project</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-item nav-link active" routerLink="./register">Register</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-item nav-link active" routerLink="./user">User</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-item nav-link active" routerLink="./users">Users</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-item nav-link active" routerLink="./view-eval">View Eval</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-item nav-link active" routerLink="./view-evals">View Evals</a>&ndash;&gt;-->
<!--        <a class="nav-item nav-link active" routerLink="./admin-dash">Admin</a>-->

<!--      </div>-->

<!--      <div class="navbar-nav ml-auto">-->
<!--        <div class="nav-item nav-link active"><a class="nav-item nav-link active" routerLink="./user">{{ userName }}</a></div>-->
<!--        <form class="form-inline my-2 my-lg-0">-->
<!--          <button class="btn btn-primary my-2 my-sm-0 btn1" (click)="onLogin()">{{ login }}</button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--<div class="container mt-6">-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->
