
<div class="container">
  <h1 class="mt-8 dashboard-titles">Groups</h1>
<!--  <table class="table table-sm table-hover" mat-table [dataSource]="dataSource">-->
<!--    <ng-container matColumnDef="groupID">-->
<!--      <th mat-header-cell *matHeaderCellDef>Group ID</th>-->
<!--      <td mat-cell *matCellDef="let group" (click)="setGroupAndMove(group)">{{group.groupID}}</td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="groupName">-->
<!--      <th mat-header-cell *matHeaderCellDef>Group Name</th>-->
<!--      <td mat-cell *matCellDef="let group">{{group.groupName}}</td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="isActive">-->
<!--      <th mat-header-cell *matHeaderCellDef>Is Active</th>-->
<!--      <td mat-cell *matCellDef="let group">{{group.isActive}}</td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="projectName">-->
<!--      <th mat-header-cell *matHeaderCellDef>Project Name</th>-->
<!--      <td mat-cell *matCellDef="let group">{{group.projectName}}</td>-->
<!--    </ng-container>-->
<!--    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>-->
<!--    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>-->
<!--  </table>-->
  <table class="table table-responsive-lg table-hover table-striped">
    <thead>
    <tr>
      <th>Group ID</th>
      <th>Group Name</th>
      <th>Is Active</th>
      <th>Project</th>
    </tr>
    </thead>
    <tbody>
    <!--  ng-repeat="c in courses | filter: search" ng-if="c.isActive || config.showInactiveCourses" ng-class="{inactive: !c.isActive}" -->
    <tr *ngFor="let group of groups">
      <td (click)="setGroupAndMove(group)" >{{group.groupID}}</td>
      <td >{{group.groupName}}</td>
      <td *ngIf="group.isActive">Active</td>
      <td *ngIf="!group.isActive">Not Active</td>
      <td >{{group.projectName}}</td>
    </tr>
    </tbody>
  </table>
</div>
