<div class="container">
  <div class="row">
    <div class="col-6"  [ngStyle]="{'height': chartHeight}">
      <ngx-charts-pie-chart [hidden]="empty"
                            [legendTitle]="pieTitle"
                            [legend]="true"
                            [labels]="true"
                            [gradient]="true"
                            [explodeSlices]="true"
                            [results]="pieData"></ngx-charts-pie-chart>
    </div>

    <div class="col-6"  [ngStyle]="{'height': chartHeight}">
      <ngx-charts-bar-vertical-2d [hidden]="empty"
                                  [legendTitle]="lineTitle"
                                  [legend]="true"
                                  [showXAxisLabel]="true"
                                  [showYAxisLabel]="true"
                                  [xAxis]="true"
                                  [yAxis]="true"
                                  [xAxisLabel]="xAxisLabel"
                                  [yAxisLabel]="yAxisLabel"
                                  [results]="lineData">
      </ngx-charts-bar-vertical-2d>
    </div>
  </div>
</div>


