<div id="resetPass" ng-cloak>
  <div class="row no-gutters">
    <div class="col"></div> <!-- Extra col div for some auto bootstrap centering -->
    <div class="card mt-5 col-4">
      <div class="card-header"><h1>Reset Password</h1></div>
      <div class="card-body">
        <h2 [hidden]="!requestSent" [class]="sentClass">{{requestMessage}}</h2>
        <div class="card-text m-1">
          To change password you must request a password change and the system admin will accept your request.
          After your request has been approved your password will be set to <span class="text-primary">wildcat123</span> temporarily.
          Once you login you can change your password.
        </div>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <div class="input-group mt-1 mb-1">
            <div class="input-group-prepend"><span class="input-group-text" style="width: 40px; border: none; border-bottom-left-radius: 0;"><i class="fa fa-user" aria-hidden="true"></i></span></div>
            <input formControlName="usernameReset" id="usernameReset" type="text" class="form-control bg-light" style="border: none; border-bottom-right-radius: 0;" name="usernameReset" placeholder="Username">
          </div>
          <button type="submit" class="btn btn-primary mt-1 mb-1">Request Change</button>
        </form>
        <div (click)="changeDisplay()" class="link-primary pointer m-1">Back to Login</div>
      </div>
    </div>
    <div class="col"></div> <!-- Extra col div for some auto bootstrap centering -->
  </div>
</div>
