.container {
  height: 100vh;
}

.container-black-outline{
  border: 1px solid black;
}

.btn {
  margin-left: 10px;
}

/*Used for content regarding the table in the left hand container*/
input[type="radio"] {
  margin-left: 20px;

}

header {
  margin-top: 5px;
}

.col-auto {
  width: 100%;
}

label {
  font-size: 18pt;
  margin-left: 10px;
}

#searchTerm {
  height: fit-content;/* 100%*/

}

table tr td{
  cursor: pointer;
  font-size: 18pt;
}

#searchBtn {
  z-index: 0;
}

/*Used for content in the right container for requests*/

#right-container{
  height: fit-content;
  width: 100%;
  padding-bottom: 13px;
}

#amount-of-requests {
  font-size: 90pt;
  padding: 0;
  margin: 0;
}

#requests-text {
  font-size: 30pt;
}

.grey-background {
  background: rgb(152,152,152);
  background: linear-gradient(0deg, rgba(152,152,152,1) 0%, rgba(204,204,204,1) 5%, rgba(255,255,255,1) 65%);
  border: 1px solid black;
}


.red {
  border: 1px solid red;
}
