<h1>Admin Dashboard</h1>

<div class="container">

  <div class="row">
    <div class="col-lg-8">
        <div class="container">
          <div class="row">
            <header>
              <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
                <div class="input-group">

                  <div class="col-auto">
                    <input id="searchTerm" formControlName="searchTerm" type="text" name="searchTerm" placeholder="Search...">
                    <button type="submit" class="btn btn-primary" id="searchBtn">Search</button>

                    <input type="radio" id="All" name="searchRadio" value="All" (click)="filterUsers('all')">
                    <label for="All"> All </label>

                    <input type="radio" id="Student" name="searchRadio" value="Student" (click)="filterUsers('Basic')">
                    <label for="Student"> Student </label>

                    <input type="radio" id="Instructor" name="searchRadio" value="Instructor" (click)="filterUsers('Instructor')">
                    <label for="Instructor"> Instructor </label>

                    <input type="radio" id="Admin" name="searchRadio" value="Admin" (click)="filterUsers('Admin')">
                    <label for="Admin"> Admin </label>

                  </div>
                </div>
              </form>



            </header>
          </div>

          <div class="row x2">
            <table class="table table-sm table-hover table-striped">
              <thead>
              <tr>
                <th>Username</th>
                <th>Last, First</th>
                <th>Type</th>
                <th>Active</th>
              </tr>
              </thead>
              <tbody>
              <!--  ng-repeat="c in courses | filter: search" ng-if="c.isActive || config.showInactiveCourses" ng-class="{inactive: !c.isActive}" -->
              <tr *ngFor="let user of filtered_users" (click)="showModal(user)">
                <td >{{user.username}}</td>
                <td >{{user.lastName}}, {{user.firstName}}</td>
                <td *ngIf="user.type == 'Basic'">Student</td>
                <td *ngIf="user.type != 'Basic'">{{user.type}}</td>
                <td *ngIf="user.isActive">Active</td>
                <td *ngIf="!user.isActive">Not Active</td>
              </tr>
              </tbody>
            </table>

          </div>

        </div>
    </div>

    <div class="col-lg-4">
        <div class="container">

        </div>
    </div>

  </div>

  <div>
    <app-admin-modal *ngIf="modalService.modalDisplay"></app-admin-modal>
  </div>



</div>

