.container {
  height: 100vh;
}

.container-black-outline{
  border: 1px solid black;
}

.btn {
  margin-left: 10px;
}

input[type="radio"] {
  margin-left: 20px;

}

header {
  margin-top: 5px;
}

.col-auto {
  width: 100%;
}

label {
  font-size: 18pt;
  margin-left: 10px;
}

#searchTerm {
  height: 100%;

}

table tr td{
  cursor: pointer;
  font-size: 18pt;
}

#searchBtn {
  z-index: 0;
}
