.container {
  border: black solid 2px;
  height: 100vh;
}

.btn {
  margin-left: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

.red {
  border: red solid 2px;
}

.col-auto label {
  font-size: 18pt;
}

#searchTerm {
  height: 100%;
}

table tr td{
  cursor: pointer;
  font-size: 18pt;
}
